{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "babel-plugin-module-alias",
      [
        {
          "src": "./resources",
          "expose": "res"
        },
        {
          "src": "./components/auth",
          "expose": "auth"
        },
        {
          "src": "./components/utils",
          "expose": "utils"
        },
      ]
    ]
  ]
}